<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">

    
	<title>Duin en zee</title>
    
</head>
<body>
	<nav>
		<ul>
            
			<li><a href="index.html">Home</a></li>
			<li><a href="contact.html">Contact</a></li>
			<li><a href="booking.html">Bookingen</a></li>
			<li><a href="login.html">Login</a></li>
		</ul>
	</nav>
	<div id="bungalows-list">
		{% for bungalow in bungalows %}
			<div class="bungalow">
				<img src="static/foto/strandhuis6.jpg" style="width:100%">
				<h3>{{ bungalow.name }}</h3>
				<p>Type: {{ bungalow.type }}</p>
				<p>Weekprijs: €{{ bungalow.week_price }}</p>
				
				<form method="POST" action="/booking.html">
					<label for="week">Select week:</label>
					<select name="week">
						{% for week in range(1, 53) %}
							<option value="{{ week }}">{{ week }}</option>
						{% endfor %}
					</select>
					<input type="hidden" name="bungalow_id" value="{{ bungalow.id }}">
					<input type="submit" value="Book">
				</form>
				
			</div>
		{% endfor %}
	</div>
		
</body>
</html>


