<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
	<title>Duin en zee</title>
</head>
<body>
	<nav>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="contact.html">Contact</a></li>
			<li><a href="booking.html">Bookingen</a></li>
			<li><a href="login.html">Login</a></li>
		</ul>
	</nav>
	<div id="bungalows-list">
		{% for bungalow in bungalows %}
			<div class="bungalow">
				<img src="static/foto/strandhuis6.jpg" style="width:100%">
				<h3>{{ bungalow.name }}</h3>
				<p>Type: {{ bungalow.type }}</p>
				<p>Weekprijs: €{{ bungalow.week_price }}</p>
				
				<form method="POST" action="{{ url_for('booking', bungalow_id=bungalow.id) }}">
					{{ form.csrf_token }}
					{{ form.week.label }} {{ form.week }}
					{{ form.first_name.label }} {{ form.first_name }}
					{{ form.last_name.label }} {{ form.last_name }}
					{{ form.email.label }} {{ form.email }}
					{{ form.phone_number.label }} {{ form.phone_number }}
					<input type="submit" value="Boeken">
				</form>
			</div>
		{% endfor %}
	</div>
</body>
</html>
